body {
    font-family: sans-serif;
  }
  
  .color-danger {
    color: red;
  }
  
  .icon {
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 0.75em;
    line-height: 1em;
    cursor: pointer;
  }

  .stats-box {
    padding: 10px 0 0 0;
  }

  .line-through {
    text-decoration: line-through;
  }

  .main {
    width: 70%;
    margin: 0 auto;
    height: 900px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  