.main-container {
    width: 70%;
    height: 500px;
    background-color: rgb(196,196,196);
    display: flex;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 500px;
    border: 1px solid black;
}

input {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 4px;
}

.card-form {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    border: 1px solid black;
}

.card {
    display: flex;
    width: 80%;
    height: 200px;
    border: black solid 1px;
}

.div-con {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
}

.div2 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

